:root {
    --background-color: #31353a;
    --nav-bg-color: #1a1c1f;
    --nav-hover-color: #25282b;
    --text-color: white;
    --font-family: Arial, Helvetica, sans-serif;
    --nav-height: 70px;
    --nav-padding-x: 25px;
}

body {
    margin: 0;
    margin-top: var(--nav-height);
    color: var(--text-color);
    font-family: var(--font-family);
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 var(--nav-padding-x);
    z-index: 10;
}

header .navButtonsContainer {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

header .navButton {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    padding: 0 15px;
    transition: background-color 0.33s ease;
}

header .navButton:hover {
    background-color: var(--nav-hover-color);
}

header .logo img {
    height: 50px;
    image-rendering: auto;
}

.bodyNavButtonsContainer {
    list-style-type: none;
    padding: 0px;
    margin-top: 90px;
    margin-left: 25px;
    margin-right: 25px;
}

.bodyNavButton {
    display: flex;
    text-decoration: none;
    background-color: rgb(27, 28, 31);
    margin-bottom: 20px;
    min-height: 45px;
    border-radius: 6px;
}

.bodyNavButton img {
    margin-left: 10px;
}

.bodyNavButtonText {
    color: white;
    font-weight: bold;
    vertical-align: center;
    margin-left: 15px;
}

@media (max-width: 768px) {
    header .navButtonsContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    header .navButton {
        width: 100%;
        padding: 10px 20px;
    }
}
